@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.main {
    background: url('../images/building.jpg') center center;
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh; /* Set a fixed height to cover the viewport */
}

.title {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
}

.col {
    max-width: 100%;
    color: white;
    display: flex;
    flex-direction: row; /* Display hours, days, minutes, and seconds in a row */
    justify-content: center; /* Center content horizontally */
    text-align: center;
    margin-top: 10px;
    gap: 10px; /* Add some space between the columns */
}

.col div {
    max-width: 250px;
    text-align: center;
}

input {
    height: 70px;
    width: 59%;
    max-width: 350px;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: transparent;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    margin-top: 16px;
    margin-bottom: 10px;
}

label {
    font-size: 20px;
}

/* Media Query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }

    .col {
        flex-direction: column; /* Stack hours, days, minutes, and seconds vertically */
        gap: 20px; /* Increase spacing between the items */
    }

    input {
        font-size: 20px;
    }
}
